{% extends 'base.html.twig' %}

{% block title %}Profile of {{ user }}{% endblock %}

{% block body %}
    <div class="container">

        <br>

        <h1>{{ user | capitalize }}</h1>

        <br><br>

        <table class="table">

            <thead>

                <tr>
                    <th>Nom du compte</th>
                    <th>Nombre de pack</th>
                    <th>Niveau</th>
                    <th>Actions</th>
                </tr>

            </thead>
            <tbody>

                {% for pack in packs %}

                    <tr>
                        <td>{{ pack.AccountUsername }}</td>
                        <td>{{ pack.PackQuantity }}</td>
                        <td>{{ pack.AccountLevel }}</td>
                        <td><a class="btn" href="/manage/delete/account/{{ pack.id }}"><i class="fas fa-trash"></i></a></td>
                    </tr>

                {% endfor %}

            </tbody>

        </table>
    </div>
{% endblock %}
