{% extends 'base.html.twig' %}

{% block title %}PMC Calendar{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}">

{% endblock %}


{% block body %}


    <div class="container">

        <br>

        <h1>Add new event</h1>

        <br>

        {{ form_start(form) }}

            {{ form_row(form.account) }}
            {{ form_row(form.scheduler_datetime) }}


            <div class="text-center">

                <button class="btn btn-lg btn-primary" type="submit">
                    Add new event
                </button>

            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
