{% extends 'base.html.twig' %}

{% block title %}Manage my profile{% endblock %}

{% block body %}

    <div class="container">

        <br>

        <h1>Manage my profile</h1>

        <br>

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <br>

        {{ form_start(password_form) }}

        {{ form_row(password_form.password) }}
        {{ form_row(password_form.new_password) }}
        {{ form_row(password_form.repeat_password) }}

        <div class="text-center">

            <button class="btn btn-lg btn-primary" type="submit">
                Change my password
            </button>

        </div>

        {{ form_end(password_form) }}

    </div>

{% endblock %}
